.button {
  display: inline-block;
  /* move this to variables */
  height: 30px;
  line-height: 28px; /* height - 2px border */
  padding: 0 30px;
  margin: 5px 15px;

  .transition();

  font-size: @main-font-size;
  font-weight: bold;
  font-family: @main-font-family;
  text-transform: uppercase;

  border-radius: 15px;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  text-decoration: none;
  float: left;


  &.blue {
      .button-variant(@blue);
  }
  &.red {
      .button-variant(@red);
  }
  &.green {
      .button-variant(@green);
  }
  &.yellow {
      .button-variant(@yellow);
  }
  &.dark-blue {
      .button-variant(@dark-blue);
  }
  &.dark-red {
      .button-variant(@dark-red);
  }
  &.dark-green {
      .button-variant(@dark-green);
  }
  &.dark-yellow {
      .button-variant(@dark-yellow);
  }
}
